<link rel="preload" href="{{ 'compare-slider.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

<div class="max-w-xl">

<compare-slider id="image-compare" class="shadow-sm">
  <img src="{{ section.settings.left_image | img_url: 'large' }}" alt="" />
  <img src="{{ section.settings.right_image | img_url: 'large' }}" alt="" />
</compare-slider>

<div class="text-sm font-medium text-center px-4 mt-4">{{ section.settings.content }}</div>

</div>


<script type="module" src="{{ 'compare-slider.js' | asset_url }}" async></script>

{% schema %}
  {
    "name": "Compare Slider",
    "settings": [
        {
            "type": "image_picker",
            "id": "left_image",
            "label": {
                "en": "Left Image"
            }
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": {
                "en": "Right Image"
            }
        },
        {
            "type": "richtext",
            "id": "content",
            "label": {
                "en": "Caption"
            }
		}
    ],
    "presets": [
      {
        "name": "Compare Slider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}