<link rel="preload" href="{{ 'compare-slider.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

<div class=" bg-gradient-to-b from-transparent to-pink-100">

<div class="container m-auto py-20 mb-20 md:py-40 md:mb-40">
	<div class="flex flex-col space-y-8 md:space-y-0 md:space-x-24 md:flex-row md:justify-center md:items-center">

		<div class="block md:hidden">
			<h5 class="!text-pink-300 lg:!text-pink-500">{{ section.settings.subtitle | replace: "+", "<span class='align-super'>+</span>" }}</h5>
			<h2 class="text-4xl font-medium mb-2">{{ section.settings.title }}</h2>
			<div class="content max-w-lg mt-6 font-medium text-xl ">{{ section.settings.intro }}</div>
		</div>

		<div>
			<div class="max-w-xl">

				<compare-slider id="image-compare" class="shadow-sm flex">
					<img src="{{ section.settings.left_image | img_url: 'large' }}" alt="" />
					<img src="{{ section.settings.right_image | img_url: 'large' }}" alt="" />
				</compare-slider>

				<div class="text-sm font-medium text-center px-4 mt-4">{{ section.settings.caption }}</div>

			</div>
		</div>
		<div class="md:mb-10">
			<div class="hidden md:!block">
			<h5 class="!text-pink-300 lg:!text-pink-500">{{ section.settings.subtitle | replace: "+", "<span class='align-super'>+</span>" }}</h5>
			<h2 class="text-4xl font-medium mb-6">{{ section.settings.title }}</h2>
			<div class="content max-w-lg mb-6 font-medium text-xl ">{{ section.settings.intro }}</div></div>
			<div class="content max-w-lg mb-16 text-xl">{{ section.settings.content }}</div>
			<div class="flex flex-row items-center justify-center md:justify-start">
						<a href="{{ section.settings.primarybutton_link }}" class="uppercase text-base font-medium bg-white px-10 py-3 hover:text-pink-500 transition">{{ section.settings.primarybutton_label }}</a></div>
		</div>
	</div>
</div>

</div>


<script type="module" src="{{ 'compare-slider.js' | asset_url }}" async></script>

{% schema %}
  {
    "name": "Compare Slider",
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Content"
            }
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": {
                "en": "Sub Title"
            }
		},
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Main Title"
            }
		},
        {
            "type": "text",
            "id": "intro",
            "label": {
                "en": "Intro Paragraph"
            }
		},
        {
            "type": "richtext",
            "id": "content",
            "label": {
                "en": "Blurb"
            }
		},
        {
            "type": "text",
            "id": "primarybutton_label",
            "label": {
                "en": "Label"
            }
		},
        {
            "type": "url",
            "id": "primarybutton_link",
            "label": {
                "en": "Link"
            }
		},
        {
            "type": "header",
            "content": {
                "en": "Compare Images"
            }
        },
        {
            "type": "image_picker",
            "id": "left_image",
            "label": {
                "en": "Left Image"
            }
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": {
                "en": "Right Image"
            }
        },
        {
            "type": "richtext",
            "id": "caption",
            "label": {
                "en": "Caption"
            }
		}
    ],
    "presets": [
      {
        "name": "Compare Slider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}