<div class="bg-gradient-to-b from-white to-pink-100">
<div id="{{ id }}" class='w-full bg-contain h-full min-h-[400px] overflow-hidden image-quote flex flex-col relative mt-20 md:mb-0 md:mt-40 border-b-4 border-white '>

	<div class="container m-auto "> 

		<div class="flex flex-col gap-y-10 lg:gap-y-0 lg:flex-row justify-center items-center">

			<div class="">

				<h5 class="!text-pink-300 lg:!text-pink-500">{{ section.settings.subtitle | replace: "+", "<span class='align-super'>+</span>" }}</h5>
				<h2 class="text-4xl  font-medium mb-0">{{ section.settings.title }}</h2>
				<div class="content relative max-w-lg mb-10 italic bg-pink-100 px-6 py-6 mt-2 lg:mt-6 "><div class="z-10 relative">{{ section.settings.content }}</div></div>

				<div class="flex flex-row items-center justify-center md:justify-start">
					<a href="{{ section.settings.primarybutton_link }}" class="uppercase text-sm font-medium bg-white px-10 py-3 hover:text-pink-500 transition">{{ section.settings.primarybutton_label }}</a>
				</div>
			</div>
			<div>
				<img src="{{ 'flora_sitting.png' | asset_url }}" class="max-w-lg" />
			</div>


		</div>

	</div>
</div>
</div>
  

{% schema %}
{
    "name": {
        "en": "Image with quote"
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Image"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Titles"
            }
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": {
                "en": "Sub Title"
            }
		},
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Main Title"
            }
		},
        {
            "type": "richtext",
            "id": "content",
            "label": {
                "en": "Blurb"
            }
		},
        {
            "type": "header",
            "content": {
                "en": "Primary Button"
            }
        },
        {
            "type": "text",
            "id": "primarybutton_label",
            "label": {
                "en": "Label"
            }
		},
        {
            "type": "url",
            "id": "primarybutton_link",
            "label": {
                "en": "Link"
            }
		}
    ],
    "presets": [
      {
        "name": "Image Quote",
        "category": "Custom"
      }
    ]
}
{% endschema %}
